<%= link_to 'Novo Projeto', new_project_path, class:"btn btn-primary" %>
<br>
<section class="container flex flex-wrap">
    <% @projects.each do |project|%>
            <div class="item">
                <ul>
                    <li><%= link_to project.name, project_path(project) %></li>
                    <li>Data Inicial: <%= project.dtini %></li>
                    <li>Data Final: <%= project.dtfim %></li>
                    <li>Finalizado?: Sim </li>
                    <li>% Conclusão?: 100% </li>
                </ul>
            </div>
    <% end %>
</section>
<br>


