// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: #333;
}

.btnnovo{
	width: 10%;
	margin-left: 115px;
	margin-bottom: 15px;
	padding: 10px 10px;

}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

/* Flex Item */
.item {
	margin: 10px;
	background: #DCDCDC;
	text-align: left;
	font-size: 1.7em;
	padding: 20px 20px 20px 1px;
	border: 1px solid #ccc;
	width: 30%;
}

.item li {		
	list-style-type: none;
}

.container {
	max-width: 99%;
	margin: 0 auto;
}
