<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <%= link_to image_tag("logo.svg", size:"40", alt:"coala"), root_path, class: "navbar-coala" %>
            <%= link_to "Coala", root_path, class:"navbar-coala"%>
        </div>      
    </div>
</nav>